.searchMovie {
  width: 95%;

  .searchMoviesButton {
    flex: 1;
    margin-top: 0px;
  }
}

.moviesList {
  flex-flow: row;
  flex-wrap: wrap;

  .searchResult {
    align-self: flex-start;
    flex: 33%;
    padding: 0 5px;
  }

  .movieInfo {
    max-width: 90%;
  }
}
